@font-face {
    font-family: "Open Sans";
    src: url(OpenSans-Regular.ttf);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url(OpenSans-SemiBold.ttf);
    font-style: normal;
    font-weight: 400;
}